{%load static%}
<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Registration Page</title> 
        <link rel="stylesheet" href="{%static 'css/style.css'%} "> 
    </head> 
    <body> 
        <div class="container"> 
            <form action="{% url 'registration' %}" method="POST"> 
                {% csrf_token %}

                <h2>Registration</h2> 
                <label for="">username</label> 
                <input type="text"> 
                <label for="">email</label> 
                <input type="email"> 
                <label for="">password</label> 
                <input type="password"> 
                <label for="">Confirm-password</label> 
                <input type="password"> 
                <button type="submit"><a href="{% url 'login' %}"></a>Sign Up</button> 
            </form> 
        </div> 
    </body> 
</html>